# OrderbookのDataFrameを整然データに変換

ここでは [Public Data API From CryptoChassis](https://github.com/crypto-chassis/cryptochassis-data-api-docs) から、Orderbook(depth=10)のデータを取得します。

In [1]:
import gzip
import io
import json
from urllib import request

import pandas as pd

```python
url = "https://api.cryptochassis.com/v1/market-depth/coinbase/btc-usd?startTime=1594166400&depth=10"

with request.urlopen(url) as res:
    json_data = json.loads(res.read().decode())

json_data
```

```json
{'urls': [{'startTime': {'seconds': 1594166400,
    'iso': '2020-07-08T00:00:00.000Z'},
   'endTime': {'seconds': 1594252800, 'iso': '2020-07-09T00:00:00.000Z'},
   'url': 'https://marketdata-e0323a9039add2978bf5b49550572c7c.s3.amazonaws.com/market_depth/coinbase/btc_usd/1594166400.csv.gz?AWSAccessKeyId=ASIATPNB7YZIRYRUYH6E&Expires=1647314231&Signature=15BugAnUze5vX9Xp4d%2ByxR5Dmjw%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEPD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQC9757DDmjrKc%2Ff37ZukleooFJnSjX5yNP60fqvjsnZKAIhAKXxh%2Fb8GX941U13FecZJMSN9UZKrjJUAVVPq8RWURXDKvoDCGkQAhoMMjM5MjQ3Mjc5Njk3Igx6%2BHbD4P%2B%2FvMwGNXMq1wNLsVB7ZHoDj9XV%2BNveAYPCD7AJC2IiwjLz9Ai6295MQ7g%2FENH4FzM%2FLiP0h6pkRZ0lhjXvyFAQ%2FhY6pwDrkIn11IbO6JbrN4zcYvv6GcdRghTXrVr7LFQaXd%2Foqrp5DRj5n9jVPeENClWMjh11y1ry%2BA7MHgDXKTU6g03K2uwUBgmD7Q%2BR%2BP46EgZP3SfOTKRokZEooMmHwg9QMQ0M6DYUzUh8JLZMpDWX9IbsqnOAv%2B%2BHD7OFiUAzMdpjWynLbM5ar%2Fd0JV8P8mRyQoEm63VdXAGWF4g0bWcUwhXcy%2BRBQIeHhqvfH0cBaJCd0G5103bYsOtgV1H%2FDOWv2lUK4jNo06f29FO50OpPOUcl69G1zjSiCwrYNgOBHrsCyA3EM9xRySZG85oeFgt6ka11cYLRAPVexAz9dYq%2B1bJCptk6uaeoglRLEVm%2FTXRRpoZpwSj0IDRdRJmDSSzlm%2Fe5mb6Vxl%2Ft7J%2BCA7kHwaWgA3XWta9wvlOPN%2FR6rt8ZS3ir3EDeAsRo9IY6KXTW1X00Qgsz4LX%2F16bDwWjVMFXfnv715AdgYKUAc5%2BeqyGGUNfpyb7N%2FAIVQEZvqBH0gvFCbggbZvcgDO%2FQHFFPhfVXUR9wrl6Em8ku%2FvAwwqi%2FkQY6pAEV0v%2B9yGcGGUT%2BWVfEcVRuUUuNdM4QrrOfxZXhdgEGzv9SRMCbRNjxmpnXYJAY54gXRb9Ymbqi0mm75V1x54sHc8b7ccfzQaOF37HNWdkRy2LQ%2B77ou4IOgyGP0Mf5MHUP%2FQxff3MLsrmzwTUnHj5ferevzVtozKeH%2Be%2BPtsqQ3nU%2BlosLtUljiYnwzeR1%2Fz4CbSmAU%2Fdp%2FaMjU%2F0NkpwxP5LknQ%3D%3D'}],
 'expiration': '300 seconds'}
```

APIから得られたURLをもとに、gzipファイルを展開し、CSVファイルを `read_csv` 関数でDataFrameに読み込みます。

```python
with request.urlopen(json_data["urls"][0]["url"]) as res:
    gz_data = res.read()

with gzip.open(io.BytesIO(gz_data), "rt") as f:
    csv_data = f.read()

raw_df = pd.read_csv(io.StringIO(csv_data))
del json_data, gz_data, csv_data
raw_df.columns = "timestamp", "bid", "ask"
```

```{attention}
実際には上記のコードで取得しますが、ここでは取得済みのCSVファイルから読み込みます。
```

In [2]:
raw_df = pd.read_csv("btcusd_2020-07-08.zip")
raw_df.head()

,timestamp,bid,ask
0,1594245605,9433.24_2.30558256|9433.07_1.6680282|9432.49_0...,9433.25_0.2|9433.63_0.159|9433.68_0.06|9434_0....
1,1594245606,9433.24_2.30558256|9433.07_1.6680282|9432.24_1...,9433.25_0.2|9433.63_0.159|9433.67_0.06|9434_0....
2,1594245607,9433.24_2.32361076|9433.07_1.65|9432.24_1.65|9...,9433.25_0.17401468|9433.63_0.159|9433.67_0.06|...
3,1594245608,9433.61_0.60504644|9433.51_1.15223697|9433.25_...,9433.62_0.2|9433.63_0.159|9433.66_0.06|9434_0....
4,1594245609,9433.51_1.17026517|9433.25_1.65|9433.24_1.65|9...,9433.52_0.637005|9433.61_0.10947951|9433.62_0....

読み込んだデータは雑然データのため、整然データに整形します。

```{hint}
整然データとは何か: https://id.fnshr.info/2017/01/09/tidy-data-intro/
```

```{attention} ToDo:
コードをばらして、あとで詳しく説明する文章を書く
```

In [3]:
timestamp = pd.to_datetime(raw_df.loc[:, "timestamp"], unit="s")


def format_dataframe_by_side(df, side):
    new_df = (
        df.loc[:, side]
        .str.split("|")
        .explode()
        .str.split("_", expand=True)
        .rename({0: "price", 1: "size"}, axis=1)
    )
    new_df.loc[:, "timestamp"] = timestamp
    new_df.iloc[:, :2] = new_df.iloc[:, :2].astype(float)
    new_df.loc[:, "side"] = side
    new_df.set_index("timestamp", drop=False, inplace=True)
    new_df.index.name = None
    return new_df


def format_dataframe(df):
    new_df = pd.concat(
        [format_dataframe_by_side(df, "bid"), format_dataframe_by_side(df, "ask")]
    )
    return new_df.sort_index()


df = format_dataframe(raw_df)
df.head()

                       price      size           timestamp side
2020-07-08 22:00:05  9433.24  2.305583 2020-07-08 22:00:05  bid
2020-07-08 22:00:05  9434.32  1.000000 2020-07-08 22:00:05  ask
2020-07-08 22:00:05  9434.35  0.530100 2020-07-08 22:00:05  ask
2020-07-08 22:00:05  9434.90  0.015848 2020-07-08 22:00:05  ask
2020-07-08 22:00:05  9435.00  0.050000 2020-07-08 22:00:05  ask

DataFrameを `to_pickle` メソッドで直列化し、ほかのNotebookでも利用できるようにします。

In [4]:
df.to_pickle("btcusd_2020-07-08.pickle", protocol=4)